<div class="row">
<app-sidebar [quickView]="quickView"

             [menuList1]="menuList1"
             [menuList2]="menuList2"
></app-sidebar>


  <section class="col-sm-8 col-xs-12">
    <h2 class="purple">ACCEDER AU REFERENTIEL FOURNISSEURS SNCF</h2>
    <h2>ACCEDER AU REFERENTIEL FOURNISSEURS SNCF</h2>
    <div class="row">
      <div class="col-sm-11 col-xs-12">
      <div class="bloc">
        <div class="title-purple">
          Description du service :
        </div>
        <div class="text">
          Ce service permet de manager les rex et les évaluations des fournisseurs sncf :
<br>- Repéerer les fournisseurs Clés, Récurrents...
<br>- Enregistrer les notes d’évaluations des fournisseurs suite au évaluations sur sites
  réalisées par les agents de DDQF.
<br>- Enregistrter les notes REX des fournisseurs.
<br>- Permettre aux agents de DDQF et aux acheteurs
famille d’avoir une vision d’ensemble des évaluations et des REX par catégorie d’achat
et/ou par fournisseur.
<br>- Fournir les éléments nécessaires à l’établissement des indicateurs SYNERGIA.
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">

          <div class="bloc">
            <div class="title-purple">
              Acteurs concernés :
            </div>
            <div class="text">
              PUBLIC CIBLE : DGA FINANCES ET ACHATS
              PUBLIC EXCLU : AGENT SNCF
            </div>
          </div>
          <div class="bloc">
            <div class="title-purple">
              Documentation et Formation : :
            </div>
            <div class="text">
              Le guide utilisateur est disponible à l’adresse suivant :

                http://ged.SNCFRéseau.fr/livelink/llisapi.dll?func=ll&objld=9190046&objAction=Open
                SNCF Réseau ne dispense pas de formation
                dédiée pour ce service.
            </div>
          </div>
          <div class="bloc">
            <div class="title-purple">
              Modalités d’accès :
            </div>
            <div class="text">
              Disposer d’un poste de travail
              SNCF réseau et du client VmWare.

            </div>
          </div>
            <div class="bloc">
              <div class="title-purple">
                Tarifs :
              </div>
              <div class="text">
                coût d’utilisation : 20 euros
              </div>
          </div>

      </div>


      <div class="col-sm-5 col-xs-12">

          <div class="bloc">
            <div class="title-orange">
              Support :
            </div>
            <div class="text">
              Le support pour ce service est ouvert du lundi au vendredi<br>
              (hors jours fériés) de 7h30 à 19h.<br>
              Les équipes du support utilisateur sont joignables :
                <br>
                - Par téléphone :<br>
                707 707 (04 26 21 17 17)<br>

                - Par mail :<br>
                supportutilisateurs@reseau.sncf.fr<br>
            </div>
          </div>
          <div class="bloc">
            <div class="title-blue">
              Ouverture de service :
            </div>
            <div class="text">
              Le service est ouvert 24H/24H <br>
              et 7J/7J, hors jours fériés.
            </div>
          </div>
        </div>

</div>


  </section>
</div>
