<header xmlns="http://www.w3.org/1999/html">

  <!-- logo -->
	<figure
          class="logo"
          routerLink=""
          routerLinkActive="active">
    <img src="/assets/img/logo.png">
  </figure>


	<section class="row mrg-0">
    <h1 class="col-xs-12 col-sm-4 mrg-pd-0 title"
        routerLink="catSI"
        routerLinkActive="active">
      <span class="icon"></span>
      CATALOGUE DE SERVICES SI
    </h1>
		<section class="col-xs-12 col-sm-8 mrg-pd-0">
      <div class="action">
        <input
          class="action-search"
          type="text"
          placeholder="Recherche"/>
        <ul class="action-menu">
            <li>
              <a routerLink="account" routerLinkActive="active"><img src="/assets/img/account.png"
     srcset="/assets/img/account@2x.png 2x,
             /assets/img/account@3x.png 3x"
     class="Group"><p class="sub_title" >Mon compte</p></a>
            </li>

            <li ondrop="stores.drop(event)" ondragover="stores.allowDrop(event)">
							<span  class="nd-store" [innerHTML]="stores.nbStore()"></span>
              <a routerLink="panier" routerLinkActive="active"><img src="/assets/img/cart.png"
     srcset="/assets/img/cart@2x.png 2x,
             /assets/img/cart@3x.png 3x"
     class="Group"><p class="sub_title">Mon panier</p></a>

            </li>
         </ul>
       </div>
    </section>
	</section>


  <nav class="tab">
			<ul>
				<li *ngFor="let tab of tabList">
          <a [routerLink]="tab.link"
             routerLinkActive="active"
             [style.color]="tab.color">
            {{ tab.name }}
            <div>
              <hr [style.background]="tab.color"
                  [style.border]="tab.color">

            </div>

          </a>
        </li>
			</ul>
	</nav>
</header>
