 header {

   padding-left: 35px;
   background: linear-gradient(to top, white 10%, #A2006B 8%, #CB6EAC);


  section {
     &.row{
       & > .logo {

         padding-top: 8px !important;
         width: 70px;
         height: 53px;
         //background: white;
         //border: 1px solid rgba(0, 0, 0, 0.1);
         //border-top: 0px;
         //border-radius: 0 0 5px 5px;
         //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
         text-align: center;
         margin: 0;
         //float:left;
         cursor: pointer;
         & > img {

         }
         .Group {
           width: 89px;
           height: 62px;
           object-fit: contain;
         }
       }
       margin:0!important
     }
   }

   .title {
     margin:0;
     font-family: Avenir;
     font-size: 34.5px;
     font-weight: 600;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 0.85px;
     text-align: left;
     color: #ffffff;
     padding-top: 33px !important;
     padding-bottom: 58px !important;
     & span{
       display: inline-block;
       vertical-align: middle;
     }

   }
   .home{
     width: 28px;
     height: 31px;
     object-fit: contain;
     display: inline-block;
     vertical-align: middle;
   }
   .action{
     white-space: nowrap;
     text-align: right;
     padding-right: 35px;
     margin-top:10px;
     &-search{

       display: inline-block;
       vertical-align: middle;
       border-radius: 15px;
       height: 38px;
       width: 444px;
       padding: 2px 18px;
       border: 2px solid rgba(0, 0, 0, 0.2);
       background: #FFFFFF;
       input{
         width:92%;
         border: none;
       }

     }
     &-menu{
       display: inline-block;
       vertical-align: middle;
       white-space: nowrap;
       text-align:center;
       &>li{
         display: inline-block;
         padding: 2px 18px;
         white-space: normal;
         float:left;
         a {
           text-decoration: none;
           font-family: Avenir;
           font-weight: 400;
           font-size: 12px;
           text-align: center;
           color: rgb(255, 255, 255);
           .Himg{
             width: 34px;
             height: 42px;
           }
           .Hlink{
             font-family: Avenir;
             font-size: 25px;
             font-weight: normal;
             font-style: normal;
             font-stretch: normal;
             line-height: normal;
             letter-spacing: normal;
             text-align: center;
             color: #ffffff;
           }
         }
       }
     }
   }
   .tab {
    &> ul{
       display: block;
       list-style: none;
       padding: 0;
       margin: 0;

      &> li {
        font-family: Avenir;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.64;
        color: #cd0037;
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-right: 12px;
        margin-top: 12px;
        list-style: none;
        background: linear-gradient(to bottom, #F6F6F6, #F8F8F8);
        border-radius: 6px 6px 0 0;
        width: 293px;
        text-align: center;
        vertical-align: middle;
        padding-top: 16px;
          a{
            text-decoration: none;
            color: inherit;
            div{
              height: 7px;
            }
            hr{
              width: 112px;
              height: 2px;
              background: #555;
            }
            &.active hr{
              height: 7px;
            }
          }

       }
     }
  }
   .nd-store{
     width: 32px;
     height: 32px;
     border-radius: 50%;
     background: #e6333c;
     text-align: center;
     vertical-align: middle;
     padding: 2px 2px 2px 2px;
     color: white;
     display: inline-block;
     margin: -13px 0 0 -11px;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
     font-size: 20px;
   }
}
