.title-purple{
    background-color: #a1006b;
    color:#fff;
    font-size:18px;
    padding-left: 10px;
    padding-right: 0px;
}
.title-blue{
  background-color: #009aa6;
  color:#fff;
  font-size:18px;
  padding-left: 10px;
  padding-right: 0px;
  }
  .title-orange{
  background-color: #e05206;
  color:#fff;
  font-size:18px;
  padding-left: 10px;
  padding-right: 0px;
  }
  .text{font-family:Avenir;padding:5px}
  .bloc{border:1px solid #D8D8D8;margin:10px;width:100%}
.purple{color:#a1006b}
