<section>
	<article class="col-sm-12 col-xs-12">

		<div class="row">
<div class="col-sm-3">

	<app-sidebar
    [hidden]="!this.categorie.menuList"
		[menuList]="this.categorie.menuList"
    [typeMenu]="'catalogue'"
  ></app-sidebar>

</div>


      <div class="col-sm-8">
        <section *ngIf="!showCat">
          <app-filariane></app-filariane>
          <router-outlet></router-outlet>
        </section>
        <section *ngIf="showCat">
          <app-slideshow></app-slideshow>
          <app-catshow></app-catshow>
        </section>
      </div>
    </div>
	</article>
</section>

<app-popin
  [(open)]="popin"
  [addClassGlobal]="'pop-panier'"
  [type]="'panier'"
>
  <h2 class="tpl-popin-title">panier</h2>
  <section class="tpl-popin-content">
    show popin ;)
  </section>
</app-popin>
