<section>

	<article class="col-sm-7 col-xs-12">

		<div class="row">
<--- delete --->
			<app-bloctheme1></app-bloctheme1>

		</div>
		<div class="row">
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle">
					<a routerLink="ferroviaire" routerLinkActive="active"><img src="/assets/img/ferroviaire.png"
					srcset="/assets/img/ferroviaire@2x.png 2x,
							/assets/img/ferroviaire@3x.png 3x"
				class="Clip-Group"><span class="title">FERROVIAIRE</span></a>
				</span>
			</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle">
					<a routerLink="support" routerLinkActive="active"><img src="/assets/img/support.png"
					srcset="/assets/img/support@2x.png 2x,
							/assets/img/support@3x.png 3x"
					class="Clip-Group"><span class="title">FONCTIONS<br/>SUPPORT</span></a>
				</span>
			</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle">
					<a routerLink="bureautique" routerLinkActive="active"><img src="/assets/img/bureautique.png"
					srcset="/assets/img/bureautique@2x.png 2x,
							/assets/img/bureautique@3x.png 3x"
				class="Clip-Group"><span class="title">BUREAUTIQUE</span></a>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle">
					<a routerLink="equipement" routerLinkActive="active"><img src="/assets/img/equip_info.png"
											srcset="/assets/img/equip_info@2x.png 2x,
													/assets/img/equip_info@3x.png 3x"
				class="Clip-Group"><span class="title">EQUIPEMENT<br/>INFORMATIQUE</span></a>
				</span>
				</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
					<span class="libelle">
						<a routerLink="telephonie" routerLinkActive="active"><img src="/assets/img/telephonie.png"
					srcset="/assets/img/telephonie@2x.png 2x,
							/assets/img/telephonie@3x.png 3x"
					class="Clip-Group"><span class="title">TELEPHONIE</span></a>
					</span>
			</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle">
					<a routerLink="securite" routerLinkActive="active"><img src="/assets/img/securite.png"
											srcset="/assets/img/securite@2x.png 2x,
													/assets/img/securite@3x.png 3x"
				class="Clip-Group"><span class="title">SECURITE</span></a>
				</span>
			</div>
		</div>
		<div class="row">
			<!--app-demandes></app-demandes-->
		</div>
<!-- delete -->

      <app-sidebar [quickView]="quickView"
                   [back]="back"
                   [menuList]="menuList"
      ></app-sidebar>
      <app-card *ngFor="let model of items"
                [model]="model"></app-card>

    </div>
	</article>

</section>
