section{
  border-top:10px;
  border-bottom:10px;
  border-left:7px;
  border-right:7px;
  border-color:#83bf00;
  border-style:solid;
  float:none;
  margin:40px auto;
  & > h2{
    & .green{color:#83bf00;}
  }
    & > table{
      width:100%;
      text-align:left;
      & > thead{
        background-color:#83bf00;
        & > tr{
          & > th{color:#fff;font-weight:normal;}
        }
      }
      & > tbody{

        & > tr{
          & > td{
            font-weight:bold;
            line-height:3em;
            & > img{height:70%;vertical-align:middle}
          }
        }
      }
    }
}
