
figure {
  overflow:  hidden;
  height: 295px;
  width: 100%;
margin-top:20px;
}

img {
  width: 100%;
  background: gray;
}
aside{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 30%;
  height:295px;
  background: #fff;
  opacity:.7;

  h2{margin-left:20px}
  nav{
    margin-top:175px;
    font-size:18px;

    ul{

      li{display:inline-block;margin-right:10px;color: rgb(158, 0, 93);font-weight:600}
    }
  }
}
