figure {
  overflow:  hidden;
  height: 114px;
  width: auto;
}

img {
  width: 100%;
  background: gray;
}
aside{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 188px;
  background: red;
}
