  <div class="row">
      <section class="col-sm-12 col-xs-12">
          <div class="tab">
            <h3>MES DEMANDES DE <span class="green">SERVICES SI</span></h3>
            <table>
              <thead>
                <tr>
                  <th><input type="checkbox" value="all"/></th>
                  <th>SERVICE DEMANDE</th>
                  <th>NATURE DU SERVICE</th>
                  <th>DATE DE CREATION</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td><input type="checkbox" value="1" checked/></td>
                  <td>Apollo</td>
                  <td>Ferroviaire</td>
                  <td>04/11/2017</td>
                  <td><img src="assets/img/picto-trash.png"/></td>
                </tr>
                <tr class="even">
                  <td><input type="checkbox" value="2"/></td>
                  <td>Upgrade RAM,
      service inexistant</td>
                  <td>Hors catalogue</td>
                  <td>04/11/2017</td>
                  <td><img src="assets/img/picto-trash.png"/></td>
                </tr>
                <tr class="odd">
                  <td><input type="checkbox" value="3" checked/></td>
                  <td>Apollo</td>
                  <td>Ferroviaire</td>
                  <td>04/11/2017</td>
                  <td><img src="assets/img/picto-trash.png"/></td>
                </tr>
                <tr class="even">
                  <td><input type="checkbox" value="4"/></td>
                  <td>Apollo</td>
                  <td>Ferroviaire</td>
                  <td>04/11/2017</td>
                  <td><img src="assets/img/picto-trash.png"/></td>
                </tr>
                <tr class="odd">
                  <td><input type="checkbox" value="5"/></td>
                  <td>Apollo</td>
                  <td>Hors catalogue</td>
                  <td>04/11/2017</td>
                  <td><img src="assets/img/picto-trash.png"/></td>
                </tr>
              </tbody>
            </table>
          </div>
              <div class="bt bt-sncf-ok" type="submit">VALIDER</div>
              <div class="bt bt-sncf-del" type="submit">SUPPRIMER</div>
              <hr>
              <div class="bt bt-sncf-search" type="submit">RECHERCHER DANS<br>TOUS LES SERVICES</div>

      </section>
    </div>
