<ul class="bloc_categorie row">

  <li *ngFor="let item of items" class="col-sm-4 col-xs-6"
      [style.backgroundImage]="item.image"
      draggable="false"
      (dragstart)="stores.drag($event, item)">
<!-- test -->
        <aside class="libelle row">
          <h3 [innerHTML]="item.title"></h3>
          <p [innerHTML]="item.description"></p>

          <button class="add"
                  (click)="pushStore(item)"

          ><img src="/assets/img/picto-cart.png"/></button>
          <button class="info"
                  (click)="goTo('/details/' + item.title)"
          ><img src="/assets/img/picto-infos.png"/></button>
        </aside>
    <!-- test -->
  </li>

</ul>
