.add{background-color:transparent;border:none;background-repeat: no-repeat;}
.info{background-color:transparent;border:none;background-repeat: no-repeat;}
article{border:solid 1px #ddd;padding:10px;margin:10px;height:250px;
  p{
  min-height:4em;
max-height:4em;
overflow:hidden;

  }

}
.tpl-popin-title{color:#009aa6;font-size:24px;}
