<section class="sidebar">

    <nav class="sidebar-omenu">
      <ul>
        <li *ngFor="let menu of menuList?.listNiv1"
            [class.active]="checkActive(typeMenu + '/'+ menu )">

          <a (click)="goTo(typeMenu + '/'+ menu );"
             class="sidebar-menu">
            <h2 [innerHTML]="menu"
                [style.color]="colorMenu(menu)"></h2>
            <img [src]="arrowMenu(menu)">
          </a>

          <ul class="sidebar-isubmenu"
              *ngIf="checkActive(typeMenu + '/'+ menu )"
          >
            <li *ngFor="let submenu of menuList?.listNv2[menu]"
                [class.active]="checkActive(typeMenu + '/'+ menu + '/' + submenu)"
                >

              <a (click)="goTo(typeMenu + '/'+ menu + '/' + submenu);"
                 class="sidebar-submenu" >
                <p [innerHTML]="submenu"></p>
              </a>
              <p *ngIf="submenu?.description"
                 [innerHTML]="submenu?.description"></p>
            </li>
          </ul>

        </li>

      </ul>
    </nav>
    <hr>
    <nav class="sidebar-menu-fix">
      <ul>
        <li *ngFor="let menufix of listMenuFix"
            [class.active]="checkActive(menufix?.link)">

          <a (click)="goTo(menufix?.link);"
             class="sidebar-menu">
            <h2 [innerHTML]="menufix?.title"
                [style.color]="colorMenu(menufix)"></h2>
            <img [src]="arrowMenu(menufix.title)">
          </a>
        </li>
      </ul>

    </nav>


    <aside>
      <img [src]="quickView?.img"/>
      <h2 [innerHTML]="quickView?.title"></h2>
      <p [innerHTML]="quickView?.description"></p>

    </aside>
</section>
