<div class="col-md-2 col-xs-12">
		<ul class="side_bar">
		<li>
			<a routerLink="catalogue/ferroviaire" routerLinkActive="active">Ferroviaire</a>
		</li>
		<li>
			<a routerLink="catalogue/support" routerLinkActive="active">Fonctions Support</a>
		</li>
		<li>
			<a routerLink="catalogue/bureautique" routerLinkActive="active">Bureautique</a>
		</li>
		<li>
			<a routerLink="catalogue/equipement" routerLinkActive="active">Equipement Informatique</a>
		</li>
		<li>
			<a routerLink="catalogue/telephonie" routerLinkActive="active">Téléphonie</a>
		</li>
		<li>
			<a routerLink="catalogue/securite" routerLinkActive="active">Sécurité</a>
		</li>
			<li>Demandes de mouvements personnels</li>
			<li>Demandes de reclamation</li>
			<li>Demandes hors catalogue</li>
		</ul>
	</div>
