<section class="col-sm-4 col-xs-12 sidebar">
    <div class="back">
      <a onclick="goTo(back.link)"
         routerLinkActive="active"
         class="sidebar-menu">
        <h3 [innerHTML]="back.title.toUpperCase()"></h3>
      </a>
    </div>
    <nav>
      <ul>
        <li *ngFor="let menu of menuList">
          <a onclick="goTo(menu.link)"
             routerLinkActive="active"
             class="sidebar-menu">
            <h2 [innerHTML]="menu.title.toUpperCase()"></h2>
          </a>
          <p *ngIf="menu.description" [innerHTML]="menu.description"></p>
        </li>
      </ul>
    </nav>
    <aside>
      <h2 [innerHTML]="quickView.title"></h2>
      <p [innerHTML]="quickView.description"></p>
    </aside>
</section>


