<section class="col-sm-12 col-xs-12">
  <h3>title du produit</h3>
  <span class="libelle">Bénéficiaire de la demande</span>
  <select>
    <option>Pour mon compte</option>
  </select>
  <span class="libelle">Date de fin d'utilisation</span>
  <select>
    <option>jj/MM/AAAA</option>
  </select>
  <span class="libelle">Justifiez votre besoin</span>
  <textarea></textarea>
  <span class="libelle">Numéro d'UC du poste de travail</span>
  <input type="text"/>
  <span class="libelle">Commentaire</span>
  <textarea></textarea>
  <span class="libelle">Code RG*</span>
  <input type="text"/>
  <span class="mini">Si vous ne connaissez pasvotre code RG, merci de vous rapprocher du responsable de commande de votre division</span>
</section>
<aside>
  <span class="libelle"><img src="/assets/img/picto-user-purple.png">CORRESPONDANT INFORMATIQUE</span>
  <select>
    <option disabled>Choisir un correspondant informatique</option>
  </select>
  <span class="libelle"><img src="/assets/img/picto-user-purple.png">RESPONSABLE HIERARCHIQUE</span>
  <input type="text"/>
  <span class="libelle"><img src="/assets/img/picto-user-purple.png">DEMANDEUR  {{id.user}}</span>
</aside>
<section>
  <button (click)="store.deleteTmp()">Annuler</button>
  <button (click)="store.validate()">Valider</button>
</section>
