ul li a{text-decoration:none;}
.header ul li{
	list-style:none
}
ul.nav li{
	display: inline-block;
	background-color:#fff;
	border-radius:5px 5px 0 0;
	padding-left:3px;
	padding-right:3px;
	padding-top:5px;
	margin-right:10px;
	width:14%;
	text-align:center;
	height:40px;
	
	}
ul.nav li a{
	width:80%;
	
}
.header{background-color:#ff0000;vertical-align:bottom;}
.head-right li{display:inline-block;}