
<div class="row">
	
	<div class="col-md-9 col-xs-12">
		<div class="row">
			<app-bloctheme1></app-bloctheme1>
		</div>
		<div class="row">
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle"><a routerLink="ferroviaire" routerLinkActive="active"><br/>FERROVIAIRE</a></span>
			</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle"><a routerLink="support" routerLinkActive="active">FONCTIONS<br/>SUPPORT</a></span>
			</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle"><a routerLink="bureautique" routerLinkActive="active"><br/>BUREAUTIQUE</a></span>
			</div>
			</div>
			<div class="row">
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle"><a routerLink="equipement" routerLinkActive="active">EQUIPEMENT<br/>INFORMATIQUE</a></span>
			</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle"><a routerLink="telephonie" routerLinkActive="active"><br/>TELEPHONIE</a></span>
			</div>
			<div class="bloc_categorie col-md-3 col-xs-6">
				<span class="libelle"><a routerLink="securite" routerLinkActive="active"><br/>SECURITE</a></span>
			</div>
		</div>
		<div class="row">
			<app-demandes></app-demandes>
		</div>
	</div>
</div>
